<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudentMapper">

    <insert id="insert">
        insert into student (name, no, gender, phone, id_card, is_college, address, degree, graduation_date, clazz_id, violation_count, violation_score, create_time, update_time)
        values (#{name}, #{no}, #{gender}, #{phone}, #{idCard}, #{isCollege}, #{address}, #{degree}, #{graduationDate}, #{clazzId}, #{violationCount}, #{violationScore}, #{createTime}, #{updateTime})
    </insert>
    <insert id="addViolation">
        update student
        set violation_count = violation_count + 1,
            violation_score = violation_score + #{score}
        where id = #{id}
    </insert>
    <update id="update">
        update student
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="no != null">
                no = #{no},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="idCard != null">
                id_card = #{idCard},
            </if>
            <if test="isCollege != null">
                is_college = #{isCollege},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="degree != null">
                degree = #{degree},
            </if>
            <if test="graduationDate != null">
                graduation_date = #{graduationDate},
            </if>
            <if test="clazzId != null">
                clazz_id = #{clazzId},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete from student where id = #{id}
    </delete>


    <select id="page" resultType="com.example.pojo.Student">
        select * from student
        <where>
            <if test="name != null">
                and name like '%${name}%'
            </if>
            <if test="degree != null">
                and degree = #{degree}
            </if>
            <if test="clazzId != null">
                and clazz_id = #{clazzId}
            </if>
        </where>
        order by update_time desc
    </select>
    <select id="getStudentDegreeData" resultType="java.util.Map">
        select CASE
                WHEN degree=1 THEN '初中'
                WHEN degree=2 THEN '高中'
                WHEN degree=3 THEN '大专'
                WHEN degree=4 THEN '本科'
                WHEN degree=5 THEN '硕士'
                WHEN degree=6 THEN '博士'
                ELSE '其他'
            END as name
             ,count(*) as value
        from student
        group by degree
    </select>
    <select id="countStudentCountData" resultType="java.util.Map">
        select clazz.name as name, count(*) as count
        from student
                 right join clazz on student.clazz_id = clazz.id
        group by clazz.name
        order by count;
    </select>
</mapper>